<%- include('../includes/header') %>

  <section class="form-section flex-column">

    <form class="form mt-5" action="/login" method="POST">
      <div class="form-titles  text-center">
        <h2>Log In to Your Account</h2>
        <h4>Or <a href="/register">Register</a> and Get Started!</h4>
      </div>
      <div class="col-lg-7  m-auto">

        <form action="#">

          <div class="form-group">
            <input type="password" class="form-control" placeholder="New-Password">
          </div>

          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Update Password">

            <input type="hidden" name="userId" value="">
            <input type="hidden" name="passwordToken" value="">


          </div>
        </form>
      </div>
    </form>
  </section>
  <%- include('../includes/footer') %>