</div>
<div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-sm-12 col-md-3 item">
            <h3>Club News</h3>
            <ul>
              <li><a href="/news">News</a></li>
              <li><a href="#">Fixtures</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/team">Team</a></li>             
            </ul>
          </div>
          <div class=" col-sm-12 item social text-center">
            <a href="/https://www.facebook.com/groups/796458037082588"><i class="icon ion-social-facebook"></i></a
            ><a href="#"><i class="icon ion-social-twitter"></i></a
            >
            
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <p class="copyright">© All content is Copyright Infinity FC 2023</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- <script src="/js/bootstrap.min.js"></script> -->
<script src="/js/owl.carousel.min.js"></script>
<!-- <script src="/js/aos.js"></script> -->
<script src="/js/main.js"></script>
</body>
</html>
