<div class="container">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Sponsors Section</h2>
      </div>
      <div class="col-6 text-right">
        <div class="custom-nav">
          <a href="#" class="js-custom-next-v2 text-center" ><ion-icon name="arrow-back-outline"></ion-icon></a>
          
          <span></span>
          <a href="#" class="js-custom-prev-v2 text-center"><ion-icon name="arrow-forward-outline"></ion-icon></a>
        </div>
      </div>
    </div>

    <div class="owl-4-slider owl-carousel">
      <div class="item">
        <div class="video-media">
          <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>

      <div class="item">
        <div class="video-media">
          <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>
      <div class="item">
        <div class="video-media">
          <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
      
    </div>

  </div>