<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Sponsors Section</h2>
    </div>
    <div class="col-6 text-right">

      <!--  <div class="custom-nav">
            <a href="#" class="js-custom-next-v2 text-center" ><ion-icon name="arrow-back-outline"></ion-icon></a>
            
            <span></span>
            <a href="#" class="js-custom-prev-v2 text-center"><i class="bi bi-arrow-left"></i></a>
          </div> -->
    </div>
  </div>

  <div class="owl-4-slider owl-carousel">
    <div class="item">
      <div class="video-media">
        <img src="https://images.unsplash.com/photo-1562783912-21ad31ee2a83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YnJhbmQlMjBsb2dvfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="item">
      <div class="video-media">
        <img src="https://images.unsplash.com/photo-1570882280426-df8ac5ccd672?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1675&q=80" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="item">
      <div class="video-media">
        <img src="https://images.unsplash.com/photo-1608541737042-87a12275d313?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmlrZSUyMGxvZ298ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60" alt="Image" class="img-fluid" />
      </div>
    </div>

    <div class="item">
      <div class="video-media">
        <img src="https://images.unsplash.com/photo-1551035418-0b04d6d183be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJyYW5kJTIwbG9nb3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="Image" class="img-fluid" />
      </div>
    </div>
    <div class="item">
      <div class="video-media">
        <img src="https://images.unsplash.com/photo-1555274175-75f4056dfd05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YWRpZGFzJTIwbG9nb3xlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="Image" class="img-fluid" />
      </div>
    </div>
  </div>

</div>