
<%- include('./includes/header') %>

    <div class="hero-news overlay" style="background-image: url('images/infinity/inifnitybanner.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">News</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="container site-section">
      <div class="row justify-content-center">
        <div class="col-6 title-section">
          <h2 class="heading">Latest News</h2>
        </div>
      </div>
      <div class="row justify-content-center">
       
        <div class="col-lg-4 mb-4 ">
          <div class="custom-media d-block p-5 d-flex flex-column align-items-center">
            <div class="img mb-4">
              <a href="/news/newsid"><img src="images/infinity/nightgame.jpg" alt="Image" class="img-fluid w-100"></a>
            </div>
            <div class="text">
              <span class="meta">May 20, 2020</span>
              <h3 class="mb-4"><a href="#">Romolu to stay at Real Nadrid?</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
              <p><a href="/news/id">Read more</a></p>
            </div>
          </div>
        </div>

 
      </div>

     <!--  <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination">
            <a href="#">1</a>            
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
          </div>
        </div>
      </div> -->
    </div>


    
    
<%- include('./includes/footer') %>