<%- include('./includes/header') %>

    <!-- <div class="hero overlay" style="background-image: url('images/infinity/changingrooms.jpg')"></div> -->
    <section class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col mb-5 ">
            <div class="d-flex justify-content-between">
              <a href="/team"><h2>MEN</h2></a>
              <a href="/staff"><h2>STAFF</h2></a>

            </div>
          
            <p class="lead text-center">Infinity Team 2023-24.</p>
          </div>
        </div>
        <div class="row">


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="p-card card-has-bg">
              <div class="bg-img w-100 ">
                <img class="w-100"
                  src="https://i2-prod.mirror.co.uk/incoming/article3665903.ece/ALTERNATES/s1227b/Steven-Gerrard.jpg"
                  alt="">
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">Name</h6>

                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>
      </div>
    </section>

    <div class="site-section">
      <%- include('./includes/sponsors') %>
    </div>

  
    <%- include('./includes/footer') %>